// local variables file
@import "_variables.scss";

// later on it's usually better to use variables from the skins
// so that you can re-build the css using the same values used in the skin
// it would then look a bit like this:
// @import "../../../_default/skins/2sxc-bootstrap-skin/src/_variables.scss";

// Size of the popup
$popup-width: 600px;
$popup-height: 400px;

@media all {
	.app-popup {
		display: none;

		.popup {
			background: #ffffff;
			max-width: $popup-width;
			max-height: $popup-width;
			position: fixed;
			display: block;
			z-index: 999;
			top: calc(50% - #{$popup-height/1.5});
			left: calc(50% - #{$popup-width/2});
			box-shadow: 0px 0px 7px 0px rgba(0,0,0,.5);
			border-radius: 15px;
			overflow: hidden;

			@media (max-width: $popup-width) {
				max-width: calc(100vw - 20px);
				max-height: 100%;
				left: 10px;
				top: 10px;
			}

			@media (max-width: 320px) {
				max-height: calc(100vh - 20px);
				overflow: scroll;
			}

			.popup-content {
				padding: 20px;

				h1, h2, h3, h4, h5, h6 { margin-top: 0; }
			}

			.popup-close {
				height: 20px;
				width: 20px;
				position: absolute;
				right: 5px;
				top: 5px;
				cursor: pointer;
				background: black;
				padding: 0 6px;
				border-radius: 50%;

				&:after {
					content: '✖';
					   	line-height:20px;
					   	position:absolute;
					   	font-size:10px;	
					   	color: #fff;		
			  			transition: color .4 ease;			   
				}

				&:hover {
					&:after {
						color: red;
					}
				}
			}
		}

		.background {
			position: fixed;
			z-index: 998;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, .8);
			width: 100vw;
			height: 100vh;
		}

		&.admin {
			display: none;
		}
	}

	.app-popup-settings,
	.app-popup-settings-small {
		display: block;
		position: fixed;
		background: #fff;
		top: 20%;
		left: 0;
		z-index: 1000;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		box-shadow: 0px 0px 7px 0px rgba(199,199,199,1);
		padding: 20px;

		h2 {
			font-size: 20px;

		}

		.buttons {
			
		}
	}

	.app-popup-settings {
		display: none;
	}

	.app-popup-settings-small {
		height: auto;
		padding: 5px;
	}

	#app-popup-open-menu > span:first-of-type { vertical-align: top; }

	.menu-close {
		height: 20px;
		width: 20px;
		position: absolute;
		right: 5px;
		top: 5px;
		cursor: pointer;

		&:after {
			content: '✖';
				line-height:20px;
				position:absolute;
				font-size:20px;	
				color: #666;		

				transition: color .4 ease;
		}

		&:hover {
			&:after {
				color: red;
			}
		}
	}
}


